.transition--appear.transition--appear-active {
  animation: questionAppear 1000ms;
}

.transition--enter.transition--enter-active {
  animation: questionAppear 1000ms;
}

@keyframes questionAppear {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  66% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.transition--exit-active {
  animation: correctAnswer 2s;
}

@keyframes correctAnswer {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  66% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-5px);
  }
}
